torch
torchvision

diffusers>=0.25.0
transformers
accelerate
safetensors

pandas
numpy
scikit-learn
scipy

Pillow
tqdm
PyYAML

huggingface_hub
datasets

matplotlib
seaborn

pydantic==2.10.6

google-genai

modal